<!doctype html>
<html class="no-js" lang="zxx">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Wedding Dalilah & Zaki </title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="manifest" href="site.webmanifest">
    <link rel="shortcut icon" type="image/x-icon" href="/static/assets/img/logo/wedding-ring.png">

    <!-- CSS here -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Playfair+Display:ital@1&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/static/assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/assets/css/owl.carousel.min.css">
    <link rel="stylesheet" href="/static/assets/css/flaticon.css">
    <link rel="stylesheet" href="/static/assets/css/slicknav.css">
    <link rel="stylesheet" href="/static/assets/css/animate.min.css">
    <link rel="stylesheet" href="/static/assets/css/magnific-popup.css">
    <link rel="stylesheet" href="/static/assets/css/fontawesome-all.min.css">
    <link rel="stylesheet" href="/static/assets/css/themify-icons.css">
    <link rel="stylesheet" href="/static/assets/css/slick.css">
    <link rel="stylesheet" href="/static/assets/css/nice-select.css">
    <link rel="stylesheet" href="/static/assets/css/style.css">
</head>
<body>
<!-- Preloader Start -->
<div id="preloader-active">
    <div class="preloader d-flex align-items-center justify-content-center">
        <div class="preloader-inner position-relative">
            <div class="preloader-circle"></div>
            <div class="preloader-img pere-text">
                <img src="/static/assets/img/logo/wedding-ring.png" alt="">
            </div>
        </div>
    </div>
</div>
<!-- Preloader Start -->
<!-- <header>
    <div class="header-area">
            <div class="main-header header-sticky">
                <div class="container">
                    <div class="row align-items-center">
                        <div class="col-xl-2 col-lg-2">
                            <div class="logo">
                                <a href="index.html"><img src="/static/assets/img/logo/wedding-ring.png" alt="" sty></a>
                            </div>
                        </div>
                        <div class="col-xl-10 col-lg-10 col-md-10">
                            <div class="main-menu f-right d-none d-lg-block">
                                <nav>                              
                                    <ul id="navigation">                                                          
                                        <li><a href="index.html"> home</a></li>
                                        <li><a href="booking.html">Guestbook</a></li>
                                    </ul>
                                </nav>
                            </div>
                        </div> 
                        <div class="col-12">
                            <div class="mobile_menu d-block d-lg-none"></div>
                        </div>
                    </div>
                </div>
            </div>
    </div>
</header> -->
<main>
    
    <!--? Slider Area Start-->
    <div class="slider-area">
        <div class="slider-active">
            <!-- Single Slider -->
            <div class="single-slider slider-height hero-overly d-flex align-items-center">
                <div class="container">
                    <div class="row d-flex align-items-center">
                        <div class="col-xl-8 col-lg-6 col-md-8 ">
                            <div class="hero__caption">
                                <span data-animation="fadeInLeft" data-delay=".3s">Walimatul Urus &#x2022; <strong style="font-family: Kollektif !important; font-size: 15px;"> 3 June </strong></span> 
                                <h1 data-animation="fadeInLeft" data-delay=".5s" data-duration="2000ms">Dalilah & Zaki</h1>
                                <!-- <p data-animation="fadeInLeft" data-delay=".9s"> 03.06.2023 </p> -->
                            </div>
                            <a href="#rsvp" class="rsvp"> RSVP NOW </a>
                        </div>
                    </div>
                    
                </div>
            </div>
            
            <!-- Single Slider -->
            <div class="single-slider slider-height hero-overly d-flex align-items-center">
                <div class="container">
                    <div class="row d-flex align-items-center">
                        <div class="col-xl-8 col-lg-6 col-md-8 ">
                            <div class="hero__caption">
                                <span data-animation="fadeInLeft" data-delay=".3s">Wedding Reception &#x2022;  <strong style="font-family: Kollektif !important; font-size: 15px;"> 3 June </strong> </span>
                                <h1 data-animation="fadeInLeft" data-delay=".5s" data-duration="2000ms">Dalilah & Zaki</h1>
                                <!-- <p data-animation="fadeInLeft" data-delay=".9s" style="font-family: Kollektif;">03.06.2023</p> -->
                                
                            </div>
                            <a href="#rsvp" class="rsvp"> RSVP NOW </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- <div style="width: 50%; margin: auto; text-align: center;"><a href="#rsvp" style="color: violet; text-align: center;"> RSVP </a></div> -->
    </div>
    <div class="audio">
        <audio id="Player" controls autoplay muted>
            <source src="/static/salut.mp3" type="audio/mp3"/>
            Your browser does not support audio element
        </audio>
    </div>
    <!-- Slider Area End-->
    <!--? Our Story Start -->
    <!-- <div class="Our-story-area story-padding">
        <div class="container">
            <div class="row d-flex justify-content-center">
                
                <div class="col-xl-7 col-lg-8">
                    <div class="section-tittle text-center mb-70">
                        
                        <h2>Our Love Story​</h2>
                        <img src="/static/assets/img/gallery/design1.png" alt="">
                        <p>Dalilah flirted and Zaki was seduced. Then they started to do everything together.</p> 
                    </div>
                </div>
            </div>
            <div class="row justify-content-center">
                <div class="col-lg-5">
                    <div class="story-caption background-img mb-40" style="background-image: url(/static/assets/img/gallery/story2.jpg);">
                        <div class="story-details">
                            <h4>The Proposal</h4>
                            <p>Zaki told his mom he's going to propose. His mom bought a dummy ring for the proposal</p>
                            <p>Zaki then proposed to Dalilah on the day that he feels the love the most XD.</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-5">
                    <div class="story-img">
                        <img  class="story2" src="/static/assets/img/gallery/kk2_pic.jpeg" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div> -->
    <!-- Our Story End -->
    <!--? Services Start -->
    <section class="pricing-card-area section-padding30 section-bg" > <!--data-background="/static/assets/img/gallery/section_bg1.png"-->
        <div class="container">
            
                <!-- Section Tittle -->
                <div class="row d-flex justify-content-center">
                <div class="col-lg-8">
                    <div class="section-tittle text-center mb-70">
                        <h2>Wedding Info</h2>
                        <!-- <img src="/static/assets/img/gallery/tittle_img.png" alt=""> -->
                        <p>You are invited to the following events </p>
                    </div>
                </div>
            </div>
            <div class="row align-items-end">
                <div class="col-xl-6 col-lg-4 col-md-6">
                    <div class="single-card active text-center mb-30">
                        <div class="card-top">
                            <!-- <span class="flaticon-chart"></span> -->
                            <img src="/static/assets/img/logo/arch.png" alt="" style="width: 46px; height: 46px; margin-bottom: 25px;">
                            <h4>The Solemnization</h4>
                        </div>
                        <div class="card-bottom">
                            <ul>
                                <li><i class="fas fa-calendar-alt"></i>June 3, 2023</li>
                                <li><i class="far fa-clock"></i>8:30 AM</li>
                                <li><i class="fas fa-map-marker-alt"></i>Masjid Putra</li>
                                <li>Putrajaya, Selangor</li>
                                <li><i class="far fa-map"></i> Check out the map</li>
                            </ul>
                        </div>
                        <div class="card-buttons mt-30">
                            <a href="https://goo.gl/maps/DdUWPYqKQYPDNqEJ7" class="btn card-btn1">Get Direction</a>
                        </div>
                    </div>
                </div>
                <div class="col-xl-6 col-lg-4 col-md-6">
                    <div class="single-card active text-center mb-30">
                        <div class="card-top">
                            <!-- <span class="flaticon-project"></span> -->
                            <img src="/static/assets/img/logo/wedding-ring.png" alt="" style="width: 46px; height: 46px; margin-bottom: 25px;">
                            <h4>The Reception</h4>
                        </div>
                        <div class="card-bottom">
                            <ul>
                                <li><i class="fas fa-calendar-alt"></i>June 3, 2023</li>
                                <li><i class="far fa-clock"></i>8:00 PM - 11.00 PM</li>
                                <li><i class="fas fa-map-marker-alt"></i>Dewan Sri Siantan</li>
                                <li>Jalan P3F, Presint 3, Putrajaya</li>
                                <li><i class="far fa-map"></i>Check out the map</li>
                            </ul>
                        </div>
                        <div class="card-buttons mt-30">
                            <a href="https://goo.gl/maps/jAqnuHbmvUk1VeeZA" class="btn card-btn1">Get Direction</a>
                        </div>
                    </div>
                </div>
                <!-- <div class="col-xl-4 col-lg-4 col-md-6">
                    <div class="single-card text-center mb-30">
                        <div class="card-top">
                            <span class="flaticon-award"></span>
                            <h4>The Party</h4>
                        </div>
                        <div class="card-bottom">
                            <ul>
                                <li><i class="fas fa-calendar-alt"></i>April 20, 2016</li>
                                <li><i class="far fa-clock"></i>5:30 PM</li>
                                <li><i class="fas fa-map-marker-alt"></i>The Mayflower Hotel</li>
                                <li>1127 Connecticut Avenue,NY</li>
                                <li><i class="far fa-map"></i> Check out the map</li>
                            </ul>
                        </div>
                        <div class="card-buttons mt-30">
                            <a href="#" class="btn card-btn1">Get Started</a>
                        </div>
                    </div>
                </div> -->
            </div>
        </div>
    </section>
    <!-- Services Card End -->
    <!--? Count Down Start -->
    <div class="section-tittle text-center mb-70">
        <h2>Countdown</h2>
    </div>
    <div class="count-down-area">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-12 col-md-12">
                    <div class="count-down-wrapper" > <!--data-background="/static/assets/img/gallery/section_bg2.png"-->
                        <div class="row justify-content-between">
                            <div class="col-lg-3 col-md-6 col-sm-6">
                                <!-- Counter Up -->
                                <div class="single-counter text-center">
                                    <span class="counter" id="days">23</span>
                                    <p>days</p>
                                </div>
                            </div>
                            <div class="col-lg-2 col-md-6 col-sm-6">
                                <!-- Counter Up -->
                                <div class="single-counter active text-center">
                                    <span class="counter" id="hours">15</span>
                                    <p>hours</p>
                                </div>
                            </div>
                            <div class="col-lg-2 col-md-6 col-sm-6">
                                <!-- Counter Up -->
                                <div class="single-counter text-center">
                                    <span class="counter" id="minutes">46</span>
                                    <p>mins</p>
                                </div>
                            </div>
                            <div class="col-lg-3 col-md-6 col-sm-6">
                                <div class="single-counter text-center">
                                    <span class="counter" id="seconds">20</span>
                                    <p>secs</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Count Down End -->
    <!--? Gallery Area Start -->
    <div class="section-tittle text-center mb-70">
        <h2 style="font-size: 60px !important;">Gallery</h2>
    </div>
    <div class="gallery-area section-padding4">
        <div class="container">
            <div class="row">
                <div class="col-lg-4 col-md-6">
                    <div class="single-gallery mb-30">
                        <div class="gallery-img" style="background-image: url(/static/assets/img/gallery/pottter.jpg);">
                        </div>
                        <div class="thumb-content-box">
                            <div class="thumb-content">
                                <h3>Platform 3/4, Hogwarts</h3>
                                <a href="/static/assets/img/gallery/pottter.jpg" class="menorie-icon"> <i class="ti-plus"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-8 col-md-6">
                    <div class="single-gallery mb-30">
                        <div class="gallery-img" style="background-image: url(/static/assets/img/gallery/kinabalu.jpg);">
                        </div>
                        <div class="thumb-content-box">
                            <div class="thumb-content">
                                <h3>Gunung Kinabalu, Sabah</h3>
                                <a href="/static/assets/img/gallery/kinabalu.jpg" class="menorie-icon"> <i class="ti-plus"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-8 col-md-6">
                    <div class="single-gallery mb-30">
                        <div class="gallery-img" style="background-image: url(/static/assets/img/gallery/backfacing.jpg); background-position: center;">
                        </div>
                        <div class="thumb-content-box">
                            <div class="thumb-content">
                                <h3>Engagement 16 June 2022</h3>
                                <a href="/static/assets/img/gallery/backfacing.jpg" class="menorie-icon"> <i class="ti-plus"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="single-gallery mb-30">
                        <div class="gallery-img" style="background-image: url(/static/assets/img/gallery/dining.jpeg);">
                        </div>
                        <div class="thumb-content-box">
                            <div class="thumb-content">
                                <h3>Gua Kek Look Tong, Ipoh</h3>
                                <a href="/static/assets/img/gallery/dining.jpeg" class="menorie-icon"> <i class="ti-plus"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Gallery Area End -->
    <!--? Gift Start -->
    <section class="gift-area gift-padding fix" >
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="gift-caption text-center">
                        <h2>The Best Gift to Us</h2>
                        <p>will be your prayers for our beginnings, <br> 
                        and your presence at our wedding</p>
                        <small><em>P/S you can read presence as presents too! See our <a href="#" style="color: black; text-decoration: underline;">wishlists</a></em></small>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Gift End -->
    <!--? Contact form Start -->
    <div class="contact-form section-padding30 fix" id="rsvp">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-xl-6 col-lg-6">
                    <div class="form-wrapper">
                        <form id="contact-form" action="" method="POST">
                            {% csrf_token %}
                            
                            <!-- section tittle -->
                            <div class="row ">
                                <div class="col-lg-12">
                                    <div class="section-tittle tittle-form text-center mb-30">
                                        <h2>Are you attending?</h2>
                                        <!-- <img src="/static/assets/img/gallery/tittle_img2.png" alt=""> -->
                                    </div>
                                </div>
                            </div>
                            {% if messages %}
                            <ul class="messages">
                                {% for message in messages %}
                                <div class="alert alert-success">
                                    <a class="close" href="#" data-dismiss="alert">×</a>
                                    {{ message }}
                                </div>    
                                {% endfor %}
                            </ul>
                            {% endif %}
                            <div class="row">
                                {{ form }}
                                <div class="submit-info" style="margin-top: 20px;">
                                    <button class="btn" type="submit">Confirm now</button>
                                </div>
                            </div>
                        </form>
                        <!-- Shape inner Flower -->
                        <div class="shape-inner-flower">
                            <!-- <img src="/static/assets/img/gallery/shape2.png" class="shpe2" alt=""> -->
                        </div>
                        <!-- Shape outer Flower -->
                        <div class="shape-outer-flower">
                            <!-- <img src="/static/assets/img/flower/from-top.png" class="outer-top" alt="">
                            <img src="/static/assets/img/flower/from-bottom.png" class="outer-bottom" alt=""> -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Contact form End -->
    <!-- <section class="brand-area section-padding-b">
        <div class="container">
                <div class="row d-flex justify-content-center">
                <div class="col-lg-8">
                    <div class="section-tittle text-center mb-80">
                        <h2>Wedding Gifts</h2>
                        <img src="/static/assets/img/gallery/tittle_img.png" alt="">
                        <p>Put something that in the context of we are okay with any gifts but if you have no idea what to give and wanting to give a present, we would appreciate items such as below - zaki</p>
                    </div>
                </div>
            </div>
            <div class="brand-active brand-border">
                <div class="single-brand">
                    <img src="/static/assets/img/service/brand1.jpg" alt="">
                </div>
                <div class="single-brand">
                    <img src="/static/assets/img/service/brand2.jpg" alt="">
                </div>
                <div class="single-brand">
                    <img src="/static/assets/img/service/brand3.jpg" alt="">
                </div>
                <div class="single-brand">
                    <img src="/static/assets/img/service/brand4.jpg" alt="">
                </div>
                <div class="single-brand">
                    <img src="/static/assets/img/service/brand5.jpg" alt="">
                </div>
                <div class="single-brand">
                    <img src="/static/assets/img/service/brand3.jpg" alt="">
                </div>
            </div>
        </div>
    </section> -->
    <!--? Start map Area-->
    <!-- <section class="contact-sections">
        <div class="d-area">
            <div id="map" style="height: 235px; position: relative; overflow: hidden;"></div>
            <script>
                function initMap() {
                    var uluru = {
                        lat: -25.363,
                        lng: 131.044
                    };
                    var grayStyles = [{
                            featureType: "all",
                            stylers: [{
                                    saturation: -90
                                },
                                {
                                    lightness: 50
                                }
                            ]
                        },
                        {
                            elementType: 'labels.text.fill',
                            stylers: [{
                                color: '#ccdee9'
                            }]
                        }
                    ];
                    var map = new google.maps.Map(document.getElementById('map'), {
                        center: {
                            lat: -31.197,
                            lng: 150.744
                        },
                        zoom: 9,
                        styles: grayStyles,
                        scrollwheel: false
                    });
                }
            </script>
            <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDpfS1oRGreGSBU5HHjMmQ3o5NLw7VdJ6I&amp;callback=initMap">
            </script>
        </div>
    </section> -->
    <!--? End map Area -->
    <!-- <div class="audio">
        <audio id="Player" control autoplay muted>
            <source src="/static/salut.mp3" type="audio/mp3"/>
            Your browser does not support audio element
        </audio>
    </div> -->
   
</main>
<footer>
    <!-- Footer Start-->
    <div class="footer-main">
        <!-- footer-bottom area -->
        <div class="footer-bottom-area">
            <div class="container">
                <div class="footer-border">
                        <div class="row d-flex align-items-center">
                            <div class="col-xl-12 ">
                                <div class="footer-copy-right text-center">
                                    <p><!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
 Developed by Zaki & Consulted by Dalilah. Template is made with <i class="fa fa-heart" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib</a>
  <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. --></p>
                                </div>
                            </div>
                        </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Footer End-->
</footer>

    <!-- JS here -->
    <script>
        var countDownDate = new Date("June 3, 2023 20:00:00").getTime();
                            // date and time to end above

        var x = setInterval(function() {
        var now = new Date().getTime();
        var distance = countDownDate - now;
        var days = Math.floor(distance / (1000 * 60 * 60 * 24));
        var hours = Math.floor((distance % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
        var minutes = Math.floor((distance % (1000 * 60 * 60)) / (1000 * 60));
        var seconds = Math.floor((distance % (1000 * 60)) / 1000);

        document.getElementById("days").innerHTML = days;
        document.getElementById("hours").innerHTML = hours;
        document.getElementById("minutes").innerHTML = minutes;
        document.getElementById("seconds").innerHTML = seconds;

        if (distance < 0) {
            clearInterval(x);
            document.getElementById("demo").innerHTML = "EXPIRED";
        }
        }, 1000);
    </script>        

    <script src="/static/assets/js/vendor/modernizr-3.5.0.min.js"></script>
    <!-- Jquery, Popper, Bootstrap -->
    <script src="/static/assets/js/vendor/jquery-1.12.4.min.js"></script>
    <script src="/static/assets/js/popper.min.js"></script>
    <script src="/static/assets/js/bootstrap.min.js"></script>
    <!-- Jquery Mobile Menu -->
    <script src="/static/assets/js/jquery.slicknav.min.js"></script>

    <!-- Jquery Slick , Owl-Carousel Plugins -->
    <script src="/static/assets/js/owl.carousel.min.js"></script>
    <script src="/static/assets/js/slick.min.js"></script>
    <!-- Date Picker -->
    <script src="/static/assets/js/gijgo.min.js"></script>
    <!-- One Page, Animated-HeadLin -->
    <script src="/static/assets/js/wow.min.js"></script>
    <script src="/static/assets/js/animated.headline.js"></script>
    <script src="/static/assets/js/jquery.magnific-popup.js"></script>

    <!-- Scrollup, nice-select, sticky -->
    <script src="/static/assets/js/jquery.scrollUp.min.js"></script>
    <script src="/static/assets/js/jquery.nice-select.min.js"></script>
    <script src="/static/assets/js/jquery.sticky.js"></script>

    <!-- counter , waypoint -->
    <script src="/static/assets/js/jquery.counterup.min.js"></script>
    <script src="/static/assets/js/waypoints.min.js"></script>

    <!-- contact js -->
    <script src="/static/assets/js/contact.js"></script>
    <script src="/static/assets/js/jquery.form.js"></script>
    <script src="/static/assets/js/jquery.validate.min.js"></script>
    <script src="/static/assets/js/mail-script.js"></script>
    <script src="/static/assets/js/jquery.ajaxchimp.min.js"></script>

    <!-- Jquery Plugins, main Jquery -->	
    <script src="/static/assets/js/plugins.js"></script>
    <script src="/static/assets/js/main.js"></script>
    
</body>
</html>